body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Architects Daughter;
    font-size: x-large;
}

#header {
    background-color: rgb(0, 111, 139);
    color: white;
}

#Quote {
    background-color: black;
    text-align: center;
    color: white;
    padding: 100px;
}

#Who-am-I {
    background-color: #d3b584;
    text-align: center;
    color: black;
}

#Roles {
    background-color: #722f37cb;
    color: black;
}

#Contact {
    background-color: #2d553f;
    color: white;
    text-align: center;
}

footer {
    background-color: whitesmoke;
    color: black;
    text-align: center;
}

a:link,
a:visited,
a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    color: white;
}